@model Clothes

@{
	ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" height="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-text">@Model.Description</h4>
                        <h3 class="card-text">
                            Producer: <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName </a>
                        </h3>
                        <h3 class="card-text mt-4">Category: @Model.ClothesCategory.Name</h3>
                        <h3 class="card-text mt-4">Size: @Model.Size</h3>
                        <h3 class="card-text mt-4">Stock: @Model.Stock</h3>
                        <p class="card-text">
                            <h2 class="text-center">Producer: </h2>
                            <hr />
                            <div class="row">
                                    <div class="column text-center">
                                        <br />
                                    <a asp-controller="Producer" asp-action="Details" asp-route-id="@Model.ProducerId">
                                        <img class="border-info" src="@Model.Producer.ProfilePictureURL" style="max-width: 350px" />
                                    </a>
                                    <br />
                                    <h3>
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.ProducerId">@Model.Producer.FullName</a>
                                    </h3>
                                    </div>
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white)"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>